{% extends "base.njk" %}

{% block title %}Menú del Restaurante{% endblock %}

{% block content %}
  <h1>Menú del Restaurante</h1>
  <ul>
    {% for item in menu %}
      <li>{{ item.name }} - €{{ item.price }}</li>
    {% endfor %}
  </ul>
{% endblock %}